.cards{
    height:300px;
    padding: 20px;
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--clr-primary);
    border-radius: 20px;
    gap: 2em;
}

/* .cards-main {
    display: grid;
    row-gap: 5px;
} */

.cards-main-maxtemptitle {
    font-size: var(--fs-sm);
    text-transform: uppercase;
}

.cards-main-maxtemp {
    width: fit-content;
    font-size: var(--fs-lar);
    line-height: 9rem;
}

.cards-main-mintemptitle {

    font-size: var(--fs-sm);
    text-transform: capitalize;
}

.cards-main-mintemp {
    font-size: var(--fs-med);
    line-height: 4rem;
    align-self: right;
}

.button {
    text-decoration: none;
    padding: 0.2rem 0.8rem;
    background-color: var(--clr-accent);
    border: solid 2px var(--clr-accent);
    border-radius: 3rem;
    font-family: var(--ff-primary);
    color: white;
    cursor: pointer;
}